* {
    box-sizing:border-box;
    padding:5px;
    margin:5px;
    font-family:Arial, Helvetica, sans-serif;
}

.movie{
    background-color: lavender;
    padding: 20px;
    margin: 15px;
    flex-basis:75%;
    border-radius: 10px;
}

