* {
    box-sizing: border-box;
    /*padding:0;
    margin:0      
    */
}
body {
    background:url(Images/bears2.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

body, p {
    margin: 10px auto;
    width: 70%;
    padding: 5px 10px 5px 10px;
    border-radius:10px;

}

p {
    background: cornflowerblue
}
section {
    background:fuchsia;
}

ol {
    background: lightgreen
}

nav li {
    list-style-type: none;
    float:left;
    
}

nav a {
    background: fuchsia;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px 5px 10px;

}

nav a:hover {
    background: lightblue;
}
table, th, td {
    border: 1px solid black;
  }

  img {
    padding:3px;
    border:3px solid #021a40;
    background-color:#ff0;
 }


