* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

/*Header */
#main-header {
    color:white;
    background: black;

}

#main-header-top {
    padding: 0 40px;
}

#main-nav {
    background: #73000A;
}

#main-header a {
    color: white;
    text-decoration: none;
    display: flex;

}

#main-header img {
    margin-right: 10px;
}

/*Nav */

#main-nav ul {
    list-style-type: none;

}

#main-nav li {
    padding: 10px;  
    font-size:18px;
}

/* Content */

#main-content {
    padding: 20px;
}
.col1to4of5 {
    flex-basis: 75%;
}

.col5of5 {
    flex-basis: 20%;
}

.sc-article {
    margin: 20px 0;
    
}

.sc-article img {
    margin-right: 20px;
}
/*Banner Picture */

#banner {
    display: flex;
    justify-content: center;
}

/* Fonts Styles */

h2 {
    color: #73000A;
    font-size: 35x;
}

@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    #main-content-junior {
        display: flex;
        justify-content: space-between;
    }

    .sc-article {
        display: flex;
        justify-content: space-between;
    }
}
